{% extends "base.html" %}

{% block content %}
<h1>Add Your Blog Entry</h1>
<form action="/add_blog" method="POST">
    <label for="new_blog">Title for your new blog:</label>
    <br/>
    <input id="new_blog" type="text" name="new_blog" value="{{new_blog}}" />
    <br/>
    <br/>
    <br/>
    <label for="blog_entry">Your new blog:</label>
    <br/>
    <textarea id="blog_entry" name="blog_entry">{{blog_entry}}</textarea>
    <br/>
    <input type="submit" value="Add Entry" />
</form>

{% endblock content %}